.navbar navbar-expand-sm navbar-light fixed-top
{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.introContext {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
}

#introImage {
    justify-content: center;
    width: 700px;
    height: 700px;
    animation: fadeIn 4s;
    padding: 0px;
    box-shadow: 10px 10px 100px white;
    border-radius: 75%;
    margin-left: 100px;
}

@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#introContentTextBG {
    position: absolute;
    top: 35%;
    right: 10%;
    width: 30%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 4s;
}

#introContextText {
    padding: 20px;
}

#profileContent {
    text-align: center;
}

#profileContent h2 {
    margin-top: 20px; 
}

#profileContent p {
    margin-top: 200px; 
}


.myEducation {
    background-image: linear-gradient(45deg, #93a5cf 50%, #e4efe9 20%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    padding: 20px;
    /* text-align: left; */
}

#contactContent h2
{
    margin-top: 20px;
    text-align: center;
}

#contactContent p {
    margin-top: 200px; 
}

.myExperience {
    background-image: linear-gradient(-45deg, #93a5cf 50%, #e4efe9 20%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    padding: 20px;
    /* text-align: left; */
}
