/* section 1 - navbar + home page */
.navbar {
  font-weight: bold;
}

.nav-link {
  color: black !important;
  
}
.nav-link.active {
  color: #0d6efd !important;
  background-image: linear-gradient(30deg, #becbeb 0%, #b7b3c7 100%) !important;
  text-transform: uppercase;
}

.introContext {
  background-image: url(Home/laptop-hp.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  text-align: left;
}

#introImage {
  justify-content: center;
  width: 500px;
  height: 500px;
  animation: fadeIn 3s;
  padding: 0px;
  box-shadow: 10px 10px 100px white;
  border-radius: 100%;
  margin-left: 100px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  align-items: center;
  text-decoration: none;
}

.fa-linkedin {
  background: #0a66c2;
  border-radius: 10px;
  color: white;
}

.fa-envelope {
  background: #ee5555;
  border-radius: 10px;
  color: white;
}

.fa-phone {
  background: rgb(18, 204, 1);
  border-radius: 10px;
  color: white;
}

.fa-github {
  background: #000;
  border-radius: 10px;
  color: white;
}

.fa-map-marker {
  background: #ffa500;
  border-radius: 10px;
  color: #000;
}

.contactLinks {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 500px;
  margin-left: 100px;
  gap: 70px;
}

.contactLinks a {
  animation: iconShootUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(100px);
}

.contactLinks a:nth-child(2) {
  animation: iconShootUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.contactLinks a:nth-child(3) {
  animation: iconShootUp 1s ease-out forwards;
  animation-delay: 1s;
}

.contactLinks a:nth-child(4) {
  animation: iconShootUp 1s ease-out forwards;
  animation-delay: 1.5s;
}

.contactLinks a:nth-child(5) {
  animation: iconShootUp 1s ease-out forwards;
  animation-delay: 2s;
}

@keyframes iconShootUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fa-map-marker .tooltiptext,
.fa-phone .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.fa-map-marker:hover .tooltiptext,
.fa-phone:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#scrollText {
  position: absolute;
  align-self: center;
  bottom: 20px;
  animation: fadeIn 7s;
  color: white;
}

.fa-arrow-down {
  position: absolute;
  align-self: center;
  bottom: 18px;
  margin-left: 5%;
  animation: fadeIn 10s, bounce 2s 7;
  color: white;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#introContentTextBG {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 30%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  animation: fadeIn 3s;
}

#introContextText {
  font-size: 18px;
  padding: 20px;
}

/* END of section 1 - navbar + home page */

/* section 2 - timeline */
.timelineSection {
  overflow-y: auto;
  padding-bottom: 48px;
}

.timelineSection h2 {
  padding-top: 80px;
  text-align: center;
}

.timelineSection h3 {
  background-color: #ffca68;
  border-radius: 10px;
  display: inline;
  padding: 3px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.containerT {
  padding: 5px 50px;
  position: relative;
  width: 50%;
  transition: transform 2s ease;
}

.containerT:hover {
  transform: scale(1.2);
}

.containerT p {
  padding-top: 7px;
}

.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.containerT img {
  position: absolute;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  right: -450px;
}

.right-container img {
  left: -450px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: black;
  border-radius: 100px;
  top: 0;
  left: 50%;
  margin-left: -3px;
  animation: moveLine 6s linear forwards;
}

@keyframes moveLine {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  @keyframes moveLine {
    0% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }
}

.text-box h2 {
  font-weight: 600;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #0d6efd;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #0d6efd;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .containerT {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img,
  .right-container img {
    left: 10px;
    width: 40px;
    height: 40px;
    top: 32px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid blue;
    border-left: 0;
    left: -15px;
  }
}

/* END section 2 - timeline */

/* section 3 - projects */
.myProjects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#projectContent h2 {
  margin-top: 80px;
  text-align: center;
}

.myProjects .card {
  background-image: linear-gradient(120deg, #e2f8ff 0%, #b0eaff 100%);
  height: 17rem;
  width: 38rem;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-body a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
}

.shaking {
  animation: shake 5s infinite ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }

  2% {
    transform: rotate(1deg);
  }

  4% {
    transform: rotate(-1deg);
  }

  6% {
    transform: rotate(1deg);
  }

  8% {
    transform: rotate(-1deg);
  }

  10% {
    transform: rotate(1deg);
  }

  12% {
    transform: rotate(-1deg);
  }

  14% {
    transform: rotate(0deg);
  }
}

/* END section 3 - projects */

/* section 4 - skills */
.mySkills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#skillsContent h2 {
  margin-top: 80px;
  text-align: center;
}

.mySkills .row {
  text-align: center;
  padding-top: 25px;
}

.mySkills h3 {
  background-image: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
  padding: 10px;
  border-radius: 5px;
}

.mySkills ul {
  font-size: 24px;
  list-style-type: lower-roman;
}

.mySkills ul p {
  text-align: left;
}

.mySkills li {
  padding: 10px;
}

.mySkills h4 {
  background-color: #ffff99;
  border-radius: 10px;
  display: inline;
  padding: 3px;
}

.mySkills .row input[type="radio"] {
  display: none;
}

.mySkills .row .accordionL1 .content,
.mySkills .row .accordionL2 .content,
.mySkills .row .accordionL3 .content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.mySkills .row .accordionL1 input[type="radio"]:checked+label+.content,
.mySkills .row .accordionL2 input[type="radio"]:checked+label+.content,
.mySkills .row .accordionL3 input[type="radio"]:checked+label+.content {
  max-height: 500px;
  padding: 10px 10px 20px;
}

.mySkills .accordionL1 li,
.mySkills .accordionL2 li,
.mySkills .accordionL3 li {
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.08),
    -6px -6px 10px -1px rgba(220, 220, 220, 0.1);
}

.accordionL1 label,
.accordionL2 label,
.accordionL3 label {
  cursor: pointer;
}

/* END section 4 - skills */

/* section 5 - footer/contacts */
.myContacts {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

#contactContent p {
  margin-top: 15px;
}

#contactContent input {
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  color: #000;
  border: 3px solid rgb(0, 0, 255);
  padding: 10px;
  border-radius: 5px;
}

::placeholder{
  color: #000;
  opacity: 1;
}

/* END section 5 - footer/contacts */

/* android.html - project 1 */
.introGainzRUs {
  min-height: 160vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 25px;
}

/* text bubble for intro text */
#introGainzRUsText {
  position: relative;
  align-self: center;
  margin-top: 15%;
  width: 25%;
  height: auto;
  background: rgb(109, 214, 255);
  position: absolute;
  border-radius: 10px;
}

#introGainzRUsText::before {
  content: "";
  position: absolute;
  right: 45%;
  bottom: 100%;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 26px solid rgb(109, 214, 255);
}

/* project links */
#gitProjectRepo {
  padding: 10px;
  background: #000;
  border-radius: 10px;
  color: white;
}

/* middle text bubble */
#middleTextBubbleGRU {
  margin-top: 60%;
  align-self: center;
  width: 25%;
  height: auto;
  background: rgb(109, 214, 255);
  position: absolute;
  border-radius: 10px;
}

#middleTextBubbleGRU::before {
  content: "";
  position: absolute;
  right: 45%;
  top: 100%;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 26px solid rgb(109, 214, 255);
}

/* generic layout for each section */
.activitySection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* generic size for each image */
.gainzrusImgs {
  position: absolute;
  height: 80vh;
}

/* generate workouts */
#workoutPlanActivityText {
  align-self: flex-end;
  max-width: 25%;
  margin-top: 30%;
  margin-right: 15%;
  text-align: left;
  background: rgb(109, 214, 255);
  position: relative;
  border-radius: 10px;
}

#workoutPlanActivityText::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 35%;
  border-right: 26px solid rgb(109, 214, 255);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

/* add workouts and view workout history */
#logWorkoutActivityText {
  align-self: flex-start;
  max-width: 25%;
  margin-top: 30%;
  margin-left: 15%;
  text-align: right;
  background: rgb(109, 214, 255);
  position: relative;
  border-radius: 10px;
}

#logWorkoutActivityText::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 35%;
  border-left: 26px solid rgb(109, 214, 255);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

/* personal record stats */
#statsActivityText {
  align-self: flex-start;
  max-width: 25%;
  margin-top: 30%;
  margin-left: 40%;
  text-align: left;
  background: rgb(109, 214, 255);
  position: relative;
  border-radius: 10px;
}

#statsActivityText::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 35%;
  border-right: 26px solid rgb(109, 214, 255);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

/* settings activity */
#settingsActivityText {
  align-self: flex-end;
  max-width: 25%;
  margin-top: 30%;
  margin-right: 40%;
  text-align: right;
  background: rgb(109, 214, 255);
  position: relative;
  border-radius: 10px;
}

#settingsActivityText::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 35%;
  border-left: 26px solid rgb(109, 214, 255);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

/* highlight arc under each header */
.highlightedGRU {
  justify-content: center;
  display: flex;
}

.highlightedGRU::before {
  content: '';
  position: absolute;
  width: 550px;
  height: 100px;
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 30%);
  box-shadow: inset 0 0 0 10px #9dff00;
  opacity: 0.5;
  margin-top: 2%;
}

/* END android.html */

/* auctionwise project 2 */


/* END auctionwise CSS */