.introContext {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
}

#introImage {
    justify-content: center;
    width: 700px;
    height: 700px;
    animation: fadeIn 3s;
    padding: 0px;
    box-shadow: 10px 10px 100px white;
    border-radius: 75%;
    margin-left: 100px;
}

@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#introContentTextBG {
    position: absolute;
    top: 35%;
    right: 10%;
    width: 30%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 3s;
}

#introContextText {
    padding: 20px;
}

#profileContent h2 {
    margin-top: 75px; 
    text-align: center;
}

#profileContent p {
    margin-top: 200px; 
}

.myEducation {
    background-image: linear-gradient(45deg, #93a5cf 50%, #e4efe9 20%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* padding: 20px; */
    /* text-align: left; */
}

#contactContent h2
{
    margin-top: 75px;
    text-align: center;
}

#contactContent p {
    margin-top: 200px; 
}

.myExperience {
    background-image: linear-gradient(-45deg, #93a5cf 50%, #e4efe9 20%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* padding: 20px; */
    /* text-align: left; */
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 50px;
  }
  
  .timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    top: 0;
    left: 50%;
    margin-left: -10px;
  }

  .timeline-item.left .timeline-content {
    left: 70%;
  }
  
  .timeline-item.right .timeline-content {
    left: 20%;
  }

  .timeline-content {
    position: relative;
    left: 30px;
  }
  
  .timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .timeline-description {
    margin-bottom: 10px;
  }